<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meethi Supari | Dashboard </title>
    <link rel="stylesheet" href="indexxx.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Hindi:ital@0;1&display=swap" rel="stylesheet">

</head>
<body>
    <div id="header">
        <img src="poetry page.png" alt="Meethi Supari">
        <header>
            <h1 style="color: white;">मीठी सुपारी </h1>
            <h1 id="h1" style="color: white;">Meethi Supari</h1>
            <nav>
                <ul>
                    <li><strong><a href="diary" id="a1">Diary</a></strong></li>
                    <li><strong><a href="poems" id="a2">Poetry</a></strong></li>
                </ul>
            </nav>
            <div id="hey">
                <h2>Hey, <%=userName %></h2>
                <a href="dashboard/add"><button id="proceed">+ Add Poetry</button></a>
            </div>
        </header>
    </div>

    <div id="signup">
        <form role="search" method="POST" action="/dashboard/search">
            <input type="search" name="searchTerm" id="search" placeholder="search poetry/diary">
        </form>
        <a href="/">Logout</a>
    </div>

    <h2 style="text-align: center;"><%=userName %>'s Poetry</h2>
    <div id="poetry-section">
        <% if (notes.length > 0) { %>
            <ul>
                <% notes.forEach(function(poetry) { %>
                    <li>
                        

                        <a href="dashboard/item/<%=poetry._id%>"> <!-- Corrected the link -->
                            <h3><%= poetry.tittle %></h3>
                            <!-- <p><%= poetry.body %></p> -->
                        </a>
                    </li>
                <% }); %>
            </ul>
        <% } else { %>
            <p><a href="dashboard/add">write here</a></p>
        <% } %>
    </div>
    

</body>
</html>